@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #333333;
  font-weight: 400;
}

.logo{
  background-color: #426A6C;
  color: #FBF7F4;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 78px;
  background-image: url("../img/vector.svg"), url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 1200px;

}
.newsletter{
  display: flex;
  flex-direction:column;
  color: #FFFFFF;
  background-color: #4682B4;
  background-image: url("../img/background.jpg");
  width: 1200px;
  text-align: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 94px;
}
.backgrond-catalog{
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  background-color: #4682B4;
  background-image: url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 1200px;
  padding: 38px 71px 81px;

}
.page-header{
  position: relative;
}
.navigation{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  padding-left: 54px;
  padding-right: 54px;
  margin: 0 auto;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.navigation-user{
  display: flex;
  justify-content: flex-end;
  max-width: 360px;
  align-items: center;
}

.navigation-logo{
  margin-bottom: -9px;
}
.nav{
  margin-top: 11px;
  margin-right: 9px;
}
.nav:first-child{
  margin-left: 5px;
}
.navigation-link {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 10px;
  text-align: center;
  color: #000000;;
  background-color: #FFFFFF;
  text-decoration: none;
}
.navigation-link:not([href]){
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 25px;
}
.navigation-link:hover {
  color: #756257;
}
.navigation-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}
.navigation-link:active{
  color: rgba(117, 98, 87, 0.3);
  box-shadow: none;
}

.number-favourite{
  position: absolute;
  top: -3px;
  right: -6px;
  width: 19px;
  height: 19px;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  background-color: #7DB54F;
  color: #FFFFFF;
  border-radius: 11px;
  box-sizing: border-box;
  padding: 3px 2px;
}
.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 26px;
  padding: 3px 8px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}
.it{
  margin-right: 7px;
}
.navigation-link:hover .navigation-icon{
  fill: #756257;
}
.navigation-link:focus .navigation-icon{
  fill: #756257;
}
.navigation-link:active .navigation-icon{
  fill: rgba(117, 98, 87, 0.3);
  box-shadow: none;
}

.navigation-user .navigation-text{
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 9px 34px 2px;
  margin-left: 27px;
  margin-right: 18px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #756257;
}
.navigation-text:hover{
  background-color: #615048;
  color: #FFFFFF;
}

.navigation-text:active{
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

.main-container {
  flex-grow: 1;
}
.page-container{
  width: 1200px;
  margin: 0 auto;
}

.main-title{
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 32px;
  text-align: center;
  width: 720px;
  color: #000000;
  text-transform: uppercase;
}

.main-reasons{
  line-height: 36px;
  font-size: 22px;
  margin: 0 auto;
  margin-bottom: 80px;
  width: 720px;
  text-align: center;
}
.features{
  text-align: center;
}
.addition-features{
  display: flex;
  background-color: #83B3D3;
  color: #FFFFFF;
}
.features-description-city{
  display: flex;
  flex-direction:column;
  padding: 97px 90px 77px;
  margin: 0px;
}
.features-number{
  padding-top: 29px;
  padding-bottom: 30px;
  margin: 0px;
}
.features-description{
  margin: 0px;
}

.features-titles{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
  text-transform: uppercase;
}

.features-list{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.title{
  padding-top: 13px;
  padding-bottom: 18px;
}

.features-item{
  Width: 400px;
  padding: 172px 75px 90px 75px;
  background-color:rgba(131, 179, 211, 0.12);
  color: #333333;
}
.features-items{
  Width: 400px;
  padding: 98px 75px 108px 75px;
  background-color:rgba(131, 179, 211, 0.12);
  color: #333333;
}
.features-numbers{
  padding-top: 27px;
  padding-bottom: 30px;
  margin: 0px;
}
.features-item-food{
  background-color: #FFFFFF;
}
.features-item-road{
  background-color: rgba(131, 179, 211, 0.2);;
}
.features-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
  color: #000000;
  text-transform: uppercase;
}
.appointment{
  font-size: 22px;
  line-height: 26px;
  margin-top: 90px;
  margin-bottom: 103px;
  text-align: center;
}
.appointment-title{
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 720px;
  color: #000000;
  text-transform: uppercase;
}
.appointment-info{
  margin: 0 auto;
  margin-bottom: 71px;
  width: 720px;
}
.appointment-search{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 17px 150px 17px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756257;
  color: #FFFFFF;
  width: 575px;
}
.appointment-search:hover{
  background-color: #615048;
  color: #FFFFFF;
}
.appointment-search:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}
.appointment-search:active{
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}
.newsletter-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 720px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.newsletter-info{
  width: 720px;
  margin: 0 auto;
  padding-bottom: 47px;
  font-size: 22px;
  line-height: 26px;
}
.email-form{
  display: flex;
  margin: 0 auto;
}
.email-forms{
  display: flex;
  margin: 0 auto;
}
.button{
  background-color: #83B3D3;
  color: #FFFFFF;
  text-align: center;
}
.button:hover {
  background-color: #68A2CA;
}
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #756257;
}
.button:active{
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}
.newsletter-button{
  font-family: "PT Sans", sans-serif;
  width: 200px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  text-transform: uppercase;
}

.page-footer-container{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  padding: 42px 71px 40px;
  margin: 0 auto;
}
.footer-social{
  max-width: 128px;
  margin-top: -4px;
  margin-left: -10px;
}
.footer-social-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item{
  margin-top: 0px;
}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
.social-facebook{
  margin-left: 3px;
  margin-right: 5px;
}

.htmlacademy-link{
  position: relative;
  width: 115px;
  padding: 10px;
  border-radius: 10px;
  margin-top: -17px;
  margin-right: -9px;
}
.htmlacademy-link:focus{
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}
.htmlacademy-link:active{
  color: rgba(117, 98, 87, 0.3);
  box-shadow: none;
}

.htmlacademy{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}
.htmlacademy-link:hover .htmlacademy{
  fill: #756257;
}
.htmlacademy-link:focus .htmlacademy{
  fill: #756257;
}
.htmlacademy-link:active .htmlacademy{
  fill: rgba(117, 98, 87, 0.3);
}


.newsletters{
  display: flex;
  flex-direction:column;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 138px;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}
.newsletters-title{
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 720px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.newsletter-email{
  margin: 0px;
}
.field{
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  padding: 20px 375px 19px 22px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  line-height: 1.15;
  font-size: 100%;
}
.field:hover {
  background-color: #E6E6E6;
}
.field:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
  border: none;
}
.field:active{
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
  margin: -2px;
  box-shadow: none;
}
.field:invalid {
  box-shadow: none;
}

.field:focus:invalid {
  border-color: #EA5454;
}
.footer-contacts-address-phone{
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  width: 331px;
  padding: 15px;
  margin-top: -20px;
  margin-left: 9px;
  border-radius: 10px;
}
.footer-contacts-address-phone:hover{
  color: #756257;
}
.footer-contacts-address-phone:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}
.footer-contacts-address-phone:active{
  color: rgba(117, 98, 87, 0.3);
  box-shadow: none;
}

.inner-header-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
  margin-top: 0px;
  margin-bottom: 1px;

}
.inner-header{
  width: 1056px;
}
.catalog-hotels{
  width: 1056px;
}
.breadcrumbs{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
  list-style-type: none;
}
.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 7px;
  right: 15px;
  width: 5px;
  height: 8px;
  content: "";
  background-image: url("../img/pointer-home.svg");
  opacity: 70%;
}
.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-home{
  margin-left: -6px;
}
.breadcrumbs-hotels{
  margin-left: -14px;
}

.breadcrumbs-link{
  position: relative;
  font-size: 16px;
  margin-right: 24px;
  color: inherit;
  border-radius: 4px;
  padding: 3px 8px;
}
.breadcrumbs-back{
  padding: 3px 14px;
}
.breadcrumbs-link:hover{
  color:  rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
  color: #FFFFFF;
}
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}
.home-icon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FFFFFF;
}
.breadcrumbs-link:hover .home-icon{
  fill: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link:focus .home-icon{
  fill: #FFFFFF;
}
.breadcrumbs-link:active .home-icon{
  fill: rgba(255, 255, 255, 0.3);
}


.footer-contacts-address-phone:active{
  color: rgba(117, 98, 87, 0.3);
  box-shadow: none;
}
.list-hotels {
  display: flex;
  flex-direction: row;
  margin-left: -2px;
}
.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-right: 64px;
  margin-bottom: 31px;
}
.catalog-filter-list{
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.catalog-filter-group{
  padding: 0px;
  margin: 0px;
  border: none;
}
.catalog-filter-item{
  margin-bottom: 12px;
}
.catalog-filter-item:last-child{
  margin-bottom: 0px;
}
.filter-price{
  margin-left: 165px;
  width: 287px;
}

.button-general{
display: flex;
flex-direction: column;
justify-content:flex-end;
margin-top: 61px;
margin-left: 79px;
}
.button-apply{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 13px 35px 15px;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.button-apply:focus {
  outline: none;
  box-shadow: 0 0 0 3px #FFFFFF;
}
.button-reset{
  font-family: "PT Sans", sans-serif;
  background-color: transparent;
  border: none;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 4px;
  width: 100px;
  margin-left: 30px;
}
.button-reset:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.button-reset:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}
.button-reset:active{
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}
.found-hotels{
  font-weight: 700;
  font-size: 30px;
  padding-top: 4px;
  margin-right: 192px;
  line-height: 39px;
  color: #000000;
  text-transform: uppercase;
}
.button-light{
  background-color: #FFFFFF;
  color: #333333;
  text-decoration: none;
}
.search-list{
  display: grid;
  grid-template-rows: repeat(4, 120px);
  gap: 61px;
  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-right: 72px;
  list-style-type: none;
}
.search-hotels-title{
  margin: 0px;
  margin-top: -4px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.hotels-title-link:hover{
  color: #756257;
}
.hotels-title-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
  color: #756257;
  border-radius: 10px;
}
.hotels-title-link:active{
  color: rgba(117, 98, 87, 0.3);
  box-shadow: none;
}
.search-hotels-link{
  text-decoration: none;
}
.search-hotels-link:hover{
  opacity: 0.6;
}
.search-hotels-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}
.search-hotels-link:active {
  opacity: 0.3;
  box-shadow: none;
}
.search-hotels{
  line-height: 23px;
}
.search-hotels-more{
  font-weight: 700;
  font-size: 16px;
  padding: 8px 32px 9px;
  margin-left: -1px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  color: #FFFFFF;
  text-decoration: none;
}
.search-hotels-more:hover{
  background-color: #615048;
  color: #FFFFFF;
}
.search-hotels-more:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}
.search-hotels-more:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}
.search-hotels-favorites{
  font-weight: 700;
  font-size: 16px;
  padding: 8px 31px 9px 30px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: #FFFFFF;
  text-decoration: none;
}

.search-hotels-favorites:hover{
  background-color: #68A2CA;
  color: #FFFFFF;
}
.search-hotels-favorites:focus {
  outline: none;
  box-shadow: 0 0 0 3px #756257;
}
.search-hotels-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}
.search-hotels-ratings{
  font-size: 16px;
  width: 160px;
  height: 30px;
  background-color: #F2F2F2;
  color: #333333;
  text-align: center;
  padding-top: 7px;
  border-radius: 4px;
  margin: 0px;
  margin-top: 52px;
  text-decoration: none;
  text-transform: uppercase;
}
.favorite{
  background-color: #7DB54F;
  padding: 8px 28px 9px 28px;
}
.favorite:hover{
  background-color: #6C9E42;
  color: #FFFFFF;
}
.search-hotels-favorites:focus {
  outline: none;
  box-shadow: 0 0 0 3px #756257;
  background-color: #6C9E42;
}
.search-hotels-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}

.search-hotels-loading{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  width: 625px;
  margin-top: 60px;
  margin-left: 288px;
  margin-right: 287px;
  margin-bottom: 62px;
  padding: 16px 20px 13px 21px;
  border-radius: 4px;
  border: none;
}
.pagination-container{
  display: flex;
  margin: 0px 72px 86px;
  background-color: #FFFFFF;
}
.pagination{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link{
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px 15px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #83B3D3;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.pagination-link:hover{
  background-color: #68A2CA;
  color: #FFFFFF;
}
.pagination-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #756257;

}
.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
}
.pagination-current{
  background-color: #F2F2F2;
  color: #000000;
}
.pagination-current:hover{
  background-color: #F2F2F2;
  color: #000000;
}
.pagination-current:focus {
  background-color: #F2F2F2;
  color: #000000;
}
.pagination-current:active {
  background-color: #F2F2F2;
  color: #000000;
}
.link-number{
  padding: 15px 26px 14px 18px;
}
.hotels-total{
  display: flex;
  flex-direction: row;
  line-height: 23px;
  margin-left: auto;
}
.hotel-amenities{
  display: flex;
  flex-direction: row;
  margin: 44px 72px 73px 71px;

}
.visually-hidden{
  margin: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-view{
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
.button-view:not(:last-child) {
  margin-right: 8px;
}
.button-view:hover{
  outline: none;
  box-shadow: 0 0 0 2px #83B3D3;
}
.button-view:focus {
  outline: none;
  box-shadow: 0 0 0 2px #83B3D3;
}
.button-view:active{
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}
.button-card{
  background-image: url("../img/rectangle.svg"), url("../img/card.svg");
}
.button-preview{
  background-image: url("../img/rectangle.svg"), url("../img/preview.svg");
}
.button-list{
  background-image: url("../img/rectangle.svg"), url("../img/list.svg");
}
.sorting-type {
  margin-right: auto;
}
.select-page{
  margin-left: 51px;
}
.select-page:hover {
  outline: none;
  box-shadow: 0 0 0 2px #83B3D3;
}
.select-page:focus {
  outline: none;
  box-shadow: 0 0 0 2px #83B3D3;
}
.select-page:active{
  color: rgba(51, 51, 51, 0.3);
  box-shadow: none;
}
.search-hotels{
  display: grid;
  grid-template-rows: 31px 89px;
  grid-template-columns: 180px 37px min-content 8px max-content 361px max-content;
}
.search-hotels-link{
  grid-row: 1/-1;
}
.hotels-title-link{
  grid-column: 3/6;
  grid-row: 1/2;
  text-decoration: none;
}

.hotel-info{
  grid-column: 3/4;
  grid-row: 2/3;
}
.hotel-price{
  grid-column: 5/6;
  grid-row: 2/3;
}
.search-hotels-ratings{
  grid-column: 7/8;
  grid-row: 2/3;
}
.search-hotels-type{
  margin-top: -3px;
  margin-bottom: 38px;
}
.search-hotels-price{
  margin-top: -3px;
  margin-bottom: 38px;
  margin-left: -2px;
}
.range{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 4px;
  margin-right: 4px;

}
.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}
.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
  margin-left: 2px;
}

.catalog-filter-input{
  width: 122px;
  font-family: "PT Sans", sans-serif;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  color: #FFFFFF;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 2px;
  border: 2px solid #FFFFFF;
}
.input-min{
  border-radius: 4px 0px 0px 4px;
  border-right-width: 1px;
}

.input-max{
  border-radius: 0px 4px 4px 0px;
  border-left-width: 1px;
}
.catalog-filter-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
.catalog-filter-input:focus {
  border-color: #FFFFFF;
  outline: none;
  box-shadow: 0 0 0 3px #81B3D2;
}
.catalog-filter-input:active{
  background-color: #756257;
  color: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: none;
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color:#FFFFFF;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}
.range-toggle:active {
  outline: none;
  box-shadow: 0 0 0 2px #83B3D3;
}
.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.select-control{
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  line-height: 23px;
  padding: 11px 105px 14px 19px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0px;
  border: none;
  box-shadow: inset 0 0 0 2px #E5E5E5;
  border-radius: 4px;
  appearance: none;
  background-color: #FFFFFF;
  background-image: url("../img/pointer.svg");
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: center right 21px;
}
.select-control:hover {
  outline: none;
  box-shadow: 0 0 0 2px #83B3D3;
}
.select-control:focus {
  outline: none;
  box-shadow: 0 0 0 2px #83B3D3;
}
.select-control:active{
  color: rgba(51, 51, 51, 0.3);
  box-shadow: none;
}
.select-page{
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  line-height: 23px;
  box-sizing: border-box;
  width: 160px;
  height: 48px;
  border: 2px solid #E5E5E5;
  padding-left: 15px;
  margin: 0px;
  margin-top: 2px;
  border-radius: 4px;
  appearance: none;
  background-color: #FFFFFF;
  background-image: url("../img/pointer.svg");
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: center right 19px;
}
.lab{
  margin-right: 51px;
  padding-top: 14px;
  padding-bottom: 10px;
}

.control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control-input+label {
  display: inline-flex;
  user-select: none;
}
.control-input+label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-right: 19px;
  margin-left: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.control-input[type="checkbox"]:checked+label::before {
  background-size: 12px 10px;
  background-image: url("../img/tick.svg");
}

.control-input[type="radio"]+label::before {
  border-radius: 50%;
}
.control-input[type="radio"]:checked+label::before {
  background-size: 10px 10px;
  background-image: url("../img/circle.svg");
}
.control-input:not(:disabled):not(:checked)+label:hover::before {
  background: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
}
.control-input:not(:disabled):active+label::before {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
}
.control-input:focus+label::before {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}
.control-input:focus:not(:checked)+label::before {
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}
.catalog-filter-home{
  margin-right: 40px;
}
.hotel-ratings-stars{
  grid-column: 7/8;
  grid-row: 1/2;
  height: 17px;
  background-color: #FFFFFF;
  background-image: url("../img/star.svg");
  background-repeat: space;
}
.hotel-ratings-stars-four{
  width: 88px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 3px;
}
.hotel-ratings-stars-three{
  width: 68px;
  margin-left: 44px;
  margin-right: 42px;
  margin-top: 3px;
}
.hotel-ratings-stars-two{
  width: 43px;
  margin-left: 59px;
  margin-right: 55px;
  margin-top: 3px;
}
.footer-social-link{
  position: relative;
  display: block;
  min-width: 20px;
  min-height: 18px;
  padding: 11px 10px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.footer-social-link:focus{
  outline: none;
  box-shadow: 0 0 0 3px #83B3D3;
}
.footer-social-link:active{
  color: rgba(131, 179, 211, 0.3);
  box-shadow: none;
}

.social-icon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-link:hover .social-icon{
  fill: #68A2CA;
}
.footer-social-link:focus .social-icon{
  fill: #68A2CA;
}
.footer-social-link:active .social-icon{
  fill: rgba(131, 179, 211, 0.3);
}

.home{
  position: relative;
  background-color: rgba(131, 179, 211, 0.12);;
}
.home::before{
  content: "";
  position: absolute;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  bottom: 11px;
  left: 88px;
}
.food{
  position: relative;
  background-color: #FFFFFF;
}
.food::before{
  content: "";
  position: absolute;
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
  bottom: 11px;
  left: 88px;

}
.souvenirs{
  position: relative;
  background-color: rgba(131, 179, 211, 0.12);;
}
.souvenirs::before{
  content: "";
  position: absolute;
  background-image: url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
  bottom: 11px;
  left: 93px;
}




